<% layout('./layouts/main.ejs') -%>

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Register </h1>
    <p class="text-primary">* : Required</p>
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <%= message %>
        </div>
    <% } %> 
    <form action="/register" method="post" role="form" id="registerForm">
        <div class="form-group">
            <label>Email *</label>
            <input type="email" class="form-control" name="email">
        </div>

        <div class="form-group">
            <label>Username *</label>
            <input type="text" class="form-control" name="username">
        </div>

        <div class="form-group">
            <label>Password *</label>
            <input type="password" class="form-control" id="password" name="password">
            <!--http://stackoverflow.com/questions/14850553/javascript-regex-for-password-containing-at-least-8-characters-1-number-1-uppe-->
        </div>

        <div class="form-group">
            <label>Retype Password *</label>
            <input type="password" class="form-control" name="retype_password">
        </div>
        
        <input type="submit" name="Register" value="Register" class="btn btn-default">
    </form>    

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>
</div>

<script type="text/javascript" src="/public/javascripts/register-validation.js"></script>