<% layout('./layouts/main.ejs') -%>

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Register </h1>
    <p class="text-primary">* : Required</p>
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <div ng-app="auth" ng-controller="authController">
        <form action="/register" method="post" role="form" name="registerForm" novalidate>
            <div class="form-group">
                <label>Email *</label>
                <input type="email" class="form-control" name="email" ng-model="email" required>
                <span class="text-danger" ng-show = "registerForm.email.$dirty && registerForm.email.$invalid">
                    <span ng-show = "registerForm.email.$error.required || registerForm.email.$error.email">
                        This is not an email.
                    </span>
                </span>
            </div>

            <div class="form-group">
                <label>Username *</label>
                <input type="text" class="form-control" name="username" ng-model="username" required>
                <span class="text-danger" ng-show = "registerForm.username.$dirty && registerForm.username.$invalid">
                    <span ng-show = "registerForm.username.$error.required">Username is required.</span>
                </span>
            </div>

            <div class="form-group">
                <label>Password *</label>
                <input type="password" class="form-control" name="password" ng-model="password"
                       ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/" required>
                <span class="text-danger" ng-show = "registerForm.password.$dirty && registerForm.password.$invalid">
                    <span ng-show = "registerForm.password.$error.required || registerForm.password.$error.pattern">
                        Password must have at least 8 characters, 1 number, 1 uppercase and 1 lowercase.
                    </span>
                </span>

                <!--http://stackoverflow.com/questions/14850553/javascript-regex-for-password-containing-at-least-8-characters-1-number-1-uppe-->
            </div>

            <div class="form-group">
                <label>Retype Password *</label>
                <input type="password" class="form-control" name="retype_password" ng-model="retype_password" ng-pattern="password" required>
                <span class="text-danger" ng-show = "registerForm.retype_password.$dirty && registerForm.retype_password.$invalid">
                    <span ng-show = "registerForm.retype_password.$error.pattern">Password doesn't match.</span>
                </span>
            </div>

            <div class="form-group">
                <input type="checkbox" name="remember"> Remember me <br>
            </div>

            <button ng-disabled =
                    "registerForm.username.$invalid || registerForm.email.$invalid
                    || registerForm.password.$invalid || registerForm.retype_password.$invalid
                    || registerForm.retype_password.$invalid"
                    type="submit" class="btn btn-warning btn-lg">Register</button>
        </form>
    </div>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>
</div>

<script src="/node_modules/angular/angular.js"></script>
<script src="/public/javascripts/angular-controller/auth-controller.js"></script>