<% layout('./layouts/auth.ejs') - %>

<div class="auth-form">
    <h1><span class="fa fa-sign-in"></span> Reset password </h1>
    <p class="text-primary">* : Required</p>
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <%= message %>
    </div>
    <% } %>
    <form action="/reset-complete" method="post" role="form" id="resetPassComplete">

        <input type="hidden" name="id" value="<%= guid %>">

        <div class="form-group">
            <label>New Password *</label>
            <input type="password" class="form-control" id="newPass" name="newPass">
            <!--http://stackoverflow.com/questions/14850553/javascript-regex-for-password-containing-at-least-8-characters-1-number-1-uppe-->
        </div>

        <div class="form-group">
            <label>Confirm new Password *</label>
            <input type="password" class="form-control" name="confirmPass">
        </div>

        <input type="submit" name="submit" value="Reset" class="btn btn-success">
    </form>
    <br/>
    <a href="/">Back to home</a>
</div>

<script type="text/javascript" src="/public/javascripts/reset-complete-validation.js"></script>