.btnSkillEdit, .btnDeleteSkill {
    background-color: #1d92af;
    border-color: #1d92af;
    border: 1px solid;
    border-radius: 3px;    
}

.btnSkillEdit:hover, .btnDeleteSkill:hover {
    color: #fff;
    background-color: #2bb9dd;
    border-color: #2bb9dd;
    border: 1px solid;
    border-radius: 3px;

}

.navbar .navbar-brand{
    color:white;
}

.navbar a{
    color:white;
}

.nav > li > a:hover{
    color:white;
    background-color:#2bb9dd;
    cursor:pointer;
}

.nav .open > a{
    background-color:#2bb9dd;    
}

ul#progress {
    float: left;
    
}

ul#progress label {
    float: left;
}

ul.skill-progress {
    list-style-type: none;
    margin:0 auto;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 5px
}
ul.skill-lprogress {
    list-style-type: none;
    margin:0 auto;
    padding-top:10px;
    padding-bottom:10px;
}
ul.skill-lprogress li {
    float:left;
    position:relative;
    width:10px;
    height:10px;
    border:1px solid #fff;
    border-radius:50px;
    margin-right:20px;
    border-left:1px solid #bbb; border-top:1px solid #bbb; border-right:1px solid #bbb; border-bottom:1px solid #bbb;
    background:#bbb;
}
ul.skill-lprogress li{
    cursor: pointer
}
ul.skill-lprogress li:first-child { margin-left:0;}
ul#lprogress {
    padding-left: inherit
}
ul.skill-progress li {
    float:left;
    position:relative;
    width:10px;
    height:10px;
    border:1px solid #fff;
    border-radius:50px;
    margin-right:20px;
    border-left:1px solid #bbb; border-top:1px solid #bbb; border-right:1px solid #bbb; border-bottom:1px solid #bbb;
    background:#bbb;
}
ul.skill-progress li{
    cursor: pointer
}

.running .ball {
    background-color: #1d92af;    
    margin-left: -4px;
    margin-top: -4px;
    width:16px;
    height:16px;
    border-radius:50px;
    -moz-transform:scale(0);
    -webkit-transform:scale(0);

    -moz-animation:loading 0.5s linear forwards;
    -webkit-animation:loading 0.5s linear forwards;
}

.running .pulse {
    width:15px;
    height:15px;
    border-radius:30px;
    border: 1px solid #00c6ff;
    box-shadow: 0 0 5px #00c6ff;
    position:absolute;
    /*top:-1px;
    left:-1px;*/
    -moz-transform:scale(0);
    -webkit-transform:scale(0);

    
    -moz-animation:pulse 0.5s ease-out;
}

#lblLevel {
    color:#1d92af;
    margin-top: 10px;
    margin-left: 200px;
    line-height: 25px;
}
/*#layer1 { -moz-animation-delay:0.5s; -webkit-animation-delay:0.5s; }
#layer2 { -moz-animation-delay:1s; -webkit-animation-delay:1s; }
#layer3 { -moz-animation-delay:1.5s; -webkit-animation-delay:1.5s; }
#layer4 { -moz-animation-delay:2s; -webkit-animation-delay:2s; }
#layer5 { -moz-animation-delay:2.5s; -webkit-animation-delay:2.5s; }

#layer7 { -moz-animation-delay:1.5s; -webkit-animation-delay:1.5s; }
#layer8 { -moz-animation-delay:2s; -webkit-animation-delay:2s; }
#layer9 { -moz-animation-delay:2.5s; -webkit-animation-delay:2.5s; }
#layer10 { -moz-animation-delay:3s; -webkit-animation-delay:3s; }
#layer11 { -moz-animation-delay:3.5s; -webkit-animation-delay:3.5s; }*/

@-moz-keyframes loading {
    0%{-moz-transform:scale(0,0);}
    100%{-moz-transform:scale(1,1);}
}

@-webkit-keyframes loading {
    0%{-webkit-transform:scale(0,0);}
    100%{-webkit-transform:scale(1,1);}
}


@-moz-keyframes pulse {
    0%   {-moz-transform: scale(0);opacity: 0;}
    10%  {-moz-transform: scale(1);opacity: 0.5;}
    50%  {-moz-transform: scale(1.75);opacity: 0;}
    100% {-moz-transform: scale(0);opacity: 0;}
}

@-webkit-keyframes pulse {
    0%   {-webkit-transform: scale(0);opacity: 0;}
    10%  {-webkit-transform: scale(1);opacity: 0.5;}
    50%  {-webkit-transform: scale(1.75);opacity: 0;}
    100% {-webkit-transform: scale(0);opacity: 0;}
}

.nav-tabs {
    float: left;
    border-bottom: 0;    
}
.nav-tabs li {
    float: none;
    margin: 0;
    height: 50px;
}
.nav-tabs li a {
    margin-right: 0;
    border: 2px;
    background-color: #2bb9dd;
}

.nav-tabs li a:hover {
    background-color: #1d92af; }
.nav-tabs .glyphicon {
    color: #fff; 
    font-size: 17px;
}
.nav-tabs .active .glyphicon {
    color: #fff; }
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border: 2px; 
    background-color: #1d92af;
}
.tab-content {
     }
.tab-content .tab-pane {
    display: none;
    background-color: #fff;
    padding: 1.6rem;
    overflow-y: auto;
}
.tab-content .active {
    display: table; }
.tabs-left{
    float: left;
}
.form-style-5{
    max-width: 100%;
    padding: 10px 20px;
    background: #f4f7f8;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    margin-top: 5px;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;

}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: #d2d9dd;
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-5 .number {
    background: #2bb9dd;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 1em;
    margin-right: 4px;    
    line-height: 29px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: #109177;
}
.btn {
    font-family: 'Open Sans', Helvetica, sans-serif;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 1.3rem;
    min-width: 100px;
    padding: 9px 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.btn-primary{
    vertical-align: middle;
    /*margin-left: 10px;*/
}

#tblSkills{
    min-height: 300px;
}

.btnSave{
    /*margin-right: 10px;*/
}

.btnContinue{
    /*margin-right: 10px;*/
}