form .error {
    color: red;
}

input.error {
    border: 1px solid red;
}
#resume-preview-container { 
  	height: 500px; 
  	padding: 0; 
  	overflow: auto;
}

#resume-view-port { 
  	width: 1240px; 
  	height: 1600px; 
  	border: none;
  	-ms-transform: scale(0.6);
  	-ms-transform-origin: 0 0;
  	-webkit-transform: scale(0.6);
	-webkit-transform-origin: 0 0;
}
.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}