<% layout('./layouts/main.ejs') - %>

    <link href="http://hayageek.github.io/jQuery-Upload-File/4.0.10/uploadfile.css" rel="stylesheet">
    <script src="//cdn.ckeditor.com/4.4.3/basic/ckeditor.js"></script>
    <script src="//cdn.ckeditor.com/4.4.3/basic/adapters/jquery.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
    <script src="/public/javascripts/input/resume-validator.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/input-css.css">
    <script src="http://hayageek.github.io/jQuery-Upload-File/4.0.10/jquery.uploadfile.min.js"></script>
    <form action="create" method="POST" id="resumeForm">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-1">
                <ul class="nav nav-tabs col-sm-12">
                    <li class="active" id="lititle"><a href="#title" data-toggle="tab"><span class="glyphicon glyphicon-asterisk"> Title</span></a></li>
                    <li id="licontact"><a href="#contact" data-toggle="tab"><span class="glyphicon glyphicon-phone-alt"> Contact</span></a></li>
                    <li id="lisummary"><a href="#summary" data-toggle="tab"><span class="glyphicon glyphicon-user"> Summary</span></a></li>
                    <li id="liexperience"><a href="#experience" data-toggle="tab"><span class="glyphicon glyphicon-heart-empty"> Experience</span></a></li>
                    <li id="liproject"><a href="#project" data-toggle="tab"><span class="glyphicon glyphicon-cloud-download"> Project</span></a></li>
                    <li id="liskills"><a href="#skills" data-toggle="tab"><span class="glyphicon glyphicon-star"> Skills</span></a></li>
                    <li id="licertification"><a href="#certification" data-toggle="tab"><span class="glyphicon glyphicon-cog"> Certification</span></a></li>
                    <li id="lieducation"><a href="#education" data-toggle="tab"><span class="glyphicon glyphicon-education"> Education</span></a></li>
                    <li id="liphoto"><a href="#photo" data-toggle="tab"><span class="glyphicon glyphicon-camera"> Photo</span></a></li>
                </ul>
            </div>
            <div id="myTabContent" class="tab-content col-sm-7">
                <div class="tab-pane active form-style-5 panel panel-default col-sm-12" id="title" style="min-height:440px;">
                    <div class="panel-body">
                        <fieldset>
                            <legend><span class="number">1</span>Title </legend>
                            <label for="title">
                                <span>Resume title:</span>                                
                                <input id="txttitle" type="text" class="form-control" name="title">
                            </label>
                            <a href="#contact" name="contact" data-toggle="tab" class="btn btn-primary pull-left btnContinue">Next section</a>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="tab-pane form-style-5 panel panel-default col-sm-12" id="contact">
                <div class="panel-body">
                    <fieldset>
                        <legend><span class="number">2</span> Contact Information</legend>
                        <label for="firstName"><span><sup>*</sup>First Name: </span>
                            <input type="text" class="form-control" name="firstName">
                        </label>
                        <label for="lastName"><span>Last Name: </span>
                            <input type="text" name="lastName" class="form-control">
                        </label>
                        <label for="email"><span><sup>*</sup>Email: </span>
                            <input type="email" class="text-danger form-control" name="email">
                        </label>
                        <label for="phone"><span>Phone: </span>
                            <input type="text" name="phone" class="form-control">
                        </label>
                        <label for="url1"><span>Website: </span>
                            <input type="url" name="website" class="form-control" placeholder="e.g:www.abc.com">
                        </label>
                        <label for="address"><span>Address </span>
                            <input type="text" name="address" class="form-control"></textarea>
                        </label>
                    </fieldset>
                    <button class="btn btn-primary pull-right btnSave">Save</button>
                    <a href="#summary" name="summary" data-toggle="tab" class="btn btn-primary pull-left btnContinue">Next
                        section</a>
                </div>
            </div>

            <div class="tab-pane form-style-5 panel panel-default col-sm-12" id="summary">
                <div class="panel-body">
                    <fieldset>
                        <legend><span class="number">3</span>Summary</legend>
                        <label for="sumHeadline"><span>Header </span>
                            <input class="form-control" name="sumHeadline" type="text">
                        </label>
                        <label for="sumContent"><span>Summary: </span>
                            <textarea class="editor" name="sumContent"
                                      placeholder="Add a short summary about yourself"></textarea>
                        </label>
                    </fieldset>
                    <button class="btn btn-primary pull-right btnSave">Save</button>
                    <a href="#experience" name="experience" data-toggle="tab"
                       class="btn btn-primary pull-left btnContinue">Next section</a></div>
            </div>

            <div class="tab-pane form-style-5 panel panel-default col-sm-12" id="experience">
                <div class="panel-body">
                    <fieldset id="field-experience-0" class="clonedExpInput">
                        <legend><span class="number">4</span>Experience</legend>
                        <label for="experience[0][company]"><span>Company </span>
                            <input class="form-control" type="text" id="experienceCompany-0"
                                   name="experience[0][company]" placeholder="e.g. Harvey Nash Vietnam">
                        </label>
                        <label for="experience[0][designation]"><span>Designation </span>
                            <input class="form-control" type="text" id="experienceDesignation-0"
                                   name="experience[0][designation]" placeholder="e.g. Software Engineer">
                        </label>
                        <label for="experienceFromDate"><span>From Date </span>
                            <input name="experience[0][startTime]" id="experienceFromDate-0" readonly
                                   placeholder="e.g. 2016/04" class="form-control date-picker" type="text"/>
                        </label>
                        <label for="experienceToDate-0"><span>To Date </span>
                            <input name="experience[0][endTime]" id="experienceToDate-0" readonly
                                   placeholder="e.g. 2016/05" class="form-control date-picker" type="text"/>
                        </label>
                        <label for="experience[0][detail]"><span>Details </span>
                            <div id="detailsExperience-0">
                                <textarea class="form-control editor" id="experienceDetail-0"
                                          name="experience[0][detail]"></textarea>
                            </div>
                        </label>
                        <button class="btn btn-danger pull-right removeExperience" id="btnDelExperience-0"
                                type="button">Remove
                        </button>
                    </fieldset>
                    <div id="groupBtnExperience">
                        <div>
                            <button class="btn btn-success" type="button" id="btnAddMoreExperience">Add another</button>
                        </div>
                    </div>
                    <button class="btn btn-primary pull-right btnSave">Save</button>
                    <a href="#project" name="project" data-toggle="tab" class="btn btn-primary pull-left btnContinue">Next
                        section</a>
                </div>
            </div>

            <div class="tab-pane form-style-5 panel panel-default col-sm-12" id="project">
                <div class="panel-body">
                    <fieldset id="field-project-0">
                        <legend><span class="number">5</span>Project</legend>
                        <label for="project[0][title]"><span>Project title </span>
                            <input class="form-control" name="project[0][title]" id="projectTitle-0" type="text">
                        </label>
                        <label for="projectUrl"><span>URL </span>
                            <input name="project[0][url]" id="projectUrl-0" type="url" placeholder="Url of project"
                                   class="form-control"/>
                        </label>
                        <label for="projectFromDate"><span>From Date </span>
                            <input name="project[0][startTime]" id="projectFromDate-0" readonly
                                   placeholder="e.g. 2016/04" class="form-control date-picker" type="text"/>
                        </label>
                        <label for="projectToDate"><span>To Date </span>
                            <input name="project[0][endTime]" id="projectToDate-0" readonly placeholder="e.g. 2016/05"
                                   class="form-control date-picker" type="text"/>
                        </label>
                        <label for="project[0][detail]"><span>Details </span>
                            <div id="detailsProject-0">
                                <textarea class="form-control editor" name="project[0][detail]"></textarea>
                            </div>
                        </label>
                        <button class="btn btn-danger pull-right removeProject" type="button" id="btnDelProject-0">
                            Remove
                        </button>
                    </fieldset>
                    <div id="groupBtnProject">
                        <div>
                            <button class="btn btn-success" type="button" id="btnAddMoreProject">Add another</button>
                        </div>
                    </div>
                    <button class="btn btn-primary pull-right btnSave">Save</button>
                    <a href="#skills" name="skills" data-toggle="tab" class="btn btn-primary pull-left btnContinue">Next
                        section</a>
                </div>
            </div>

            <div class="tab-pane form-style-5 panel panel-default col-sm-12" id="skills">
                <div class="panel-body">
                    <fieldset id="field-skill">
                        <input type="hidden" id="skillHiddenIndex" value="-1">
                        <legend><span class="number">6</span>Skill</legend>
                        <label for="txtSkillName"><span>Skill Name </span>
                            <input type="text" class="form-control" id="txtSkillName">
                        </label>
                        <label for=""><span>Level</span></label>
                        <div style="margin-bottom: 25px;">
                            <ul id="progress" class="nav skill-progress">
                                <li id="ball0">
                                    <div id="layer0" class="ball"></div>
                                    <div id="layer12" class="pulse"></div>
                                </li>
                                <li id="ball1">
                                    <div id="layer1" class="ball"></div>
                                    <div id="layer7" class="pulse"></div>
                                </li>
                                <li id="ball2">
                                    <div id="layer2" class="ball"></div>
                                    <div id="layer8" class="pulse"></div>
                                </li>
                                <li id="ball3">
                                    <div id="layer3" class="ball"></div>
                                    <div id="layer9" class="pulse"></div>
                                </li>
                                <li id="ball4">
                                    <div id="layer4" class="ball"></div>
                                    <div id="layer10" class="pulse"></div>
                                </li>
                                <li id="ball5">
                                    <div id="layer5" class="ball"></div>
                                    <div id="layer11" class="pulse"></div>
                                </li>
                            </ul>
                            <label id="lblLevel">N/A</label>
                        </div>
                        <label for="txtExperience"><span>Experience</span>
                            <select id="ddlExperience" class="form-control">
                                <option value="0 month">0 month</option>
                                <option value="1-3 months">1-3 months</option>
                                <option value="4-12 months">4-12 months</option>
                                <option value="1-3 years">1-3 years</option>
                                <option value="3-5 years">3-5 years</option>
                                <option value=">5 years">>5 years</option>
                            </select>
                        </label>
                        <label><span>Last Year Used</span>
                            <select id="ddlLYU" class="form-control">
                                <option value="2016">2016</option>
                                <option value="2015">2015</option>
                                <option value="2014">2014</option>
                                <option value="2013">2013</option>
                                <option value="2012">2012</option>
                                <option value="2011">2011</option>
                                <option value="2010">2010</option>
                                <option value="2009">2009</option>
                                <option value="2008">2008</option>
                                <option value="2007">2007</option>
                                <option value="2006">2006</option>
                                <option value="2005">2005</option>
                                <option value="2004">2004</option>
                                <option value="2003">2003</option>
                            </select>
                        </label>
                    </fieldset>
                    <button class="btn btn-success btnContinue" type="button" id="btnAddSkill">Add skill</button>
                    <div class="table-responsive" style="min-height:300px;margin-left: 10px;margin-right: 10px;">
                        <table id="tblSkills" class="table  table-hover">
                            <thead>
                            <tr>
                                <th>Skill's name</th>
                                <th>Level</th>
                                <th>Experience</th>
                                <th>Last year used</th>
                                <th id="action">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-primary pull-right btnSave">Save</button>
                    <a href="#certification" name="certification" data-toggle="tab"
                       class="btn btn-primary pull-left btnContinue">Next section</a>
                </div>
            </div>

            <div class="tab-pane form-style-5 panel panel-default col-sm-12" id="certification">
                <div class="panel-body">
                    <fieldset id="field-certification-0">
                        <legend><span class="number">7</span>Certification</legend>
                        <label for="certification[0][title]"><span>Certification</span>
                            <input type="text" name="certification[0][title]" id="certificationTitle-0"
                                   class="form-control" placeholder="Name of certification">
                        </label>
                        <label for="certification[0][authority]"><span>Certification authority </span>
                            <input type="text" name="certification[0][authority]" id="certificationAuthority-0"
                                   class="form-control" placeholder="Name of the organization issuing the certificate">
                        </label>
                        <label for="certificationDate"><span>Date </span>
                            <input name="certification[0][date]" id="certificationDate-0" readonly
                                   placeholder="e.g. 2016/05" class="form-control date-picker" type="text"/>
                        </label>
                        <label for="certification[0][detail]"><span>Details </span>
                            <div id="detailsCertification-0">
                                <textarea class="form-control editor" id="certificationDetail-0"
                                          name="certification[0][detail]"></textarea>
                            </div>
                        </label>
                        <button class="btn btn-danger pull-right removeCertification" type="button" id="btnDelCerti-0">
                            Remove
                        </button>
                    </fieldset>
                    <div id="groupBtnCertification">
                        <div>
                            <button class="btn btn-success" type="button" id="btnAddMoreCetification">Add another
                            </button>
                        </div>
                    </div>
                    <button class="btn btn-primary pull-right btnSave">Save</button>
                    <a href="#education" name="education" data-toggle="tab"
                       class="btn btn-primary pull-left btnContinue">Next section</a>
                </div>
            </div>

<<<<<<< HEAD
                <div class="tab-pane form-style-5 panel panel-default col-sm-12" id="education">
                    <div class="panel-body">
                        <fieldset id="field-education-0">
                            <legend><span class="number">8</span>Education</legend>
                            <label for="txtEduInstitute"><span>Institute </span>
                                <input type="text" name="education[0][institute]"  id="txtEduInstitute-0" class="form-control" placeholder="e.g. Harvard University">
                            </label>
                            <label for="txtEduDegree"><span>Degree </span>
                                <input type="text" name="education[0][degree]" id="txtEduDegree-0" class="form-control" placeholder="e.g. Bachelor of Information Technology">
                            </label>
                            <label for=""><span>From Date </span>
                                <input type='text' name="education[0][startTime]" id="educationFromDate-0" readonly  placeholder="e.g. 2016/05/01" class="form-control date-picker" />
                            </label>
                            <label for="educationFromDate"><span>To Date </span>
                                <input type='text' name="education[0][endTime]" id="educationToDate-0" readonly placeholder="e.g. 2016/06/01" class="form-control date-picker" />
                            </label>
                            <label for="educationDetails"><span>Details </span>
                                <div id="detailsEducation-0">
                                    <textarea class="editor" name="education[0][detail]" id="educationDetails-0" placeholder="Add a few details about this educational qualification..."></textarea>
                                </div>                   
                            </label>
                            <button class="btn btn-danger pull-right removeEducation" type="button" id="btnDelEducation-0">Remove</button>
                        </fieldset>
                        <div id="groupBtnEducation">
                            <div>
                                <button class="btn btn-success" type="button" id="btnAddMoreEducation">Add another</button>
                            </div>
                        </label>
                        <button class="btn btn-danger pull-right removeEducation" type="button" id="btnDelEducation-0">
                            Remove
                        </button>
                    </fieldset>
                    <div id="groupBtnEducation">
                        <div>
                            <button class="btn btn-success" type="button" id="btnAddMoreEducation">Add another</button>
                        </div>
                        <button class="btn btn-primary pull-right btnSave">Save</button>
                        <a href="#photo" name="photo" data-toggle="tab" class="btn btn-primary pull-left btnContinue">Next
                            section</a>
                    </div>
                </div>
            </div>

            <div class="tab-pane form-style-5 panel panel-default col-sm-12" style="min-height:440px;" id="photo">
                <div class="panel-body">
                    <form style="width: 250px">
                        <fieldset id="image-holder">
                            <legend><span class="number">9</span>Add Photo</legend>
                            <div id="fileuploader">Upload</div>
                            <input type="hidden" name="photoUrl" id="myImage">
                            <button class="btn btn-primary pull-right btnSave">Save</button>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="modal fade" id="modalRemoveSkill" role="dialog" style="z-index: 99999" data-id="">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>Confirmation</strong></h4>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnConfirmRemove">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSkillNotNull" role="dialog" style="z-index: 99999" data-id="">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>You must enter Skill's Name before Add Skill</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
<<<<<<< HEAD
    <div class="modal fade" id="modalTitleNotNull" role="dialog" style="z-index: 99999" data-id="">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Please enter resume title</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
    <script src="/public/javascripts/input/input.js"></script>

