<% layout('./layouts/main.ejs') -%>
    <link href="/public/stylesheets/bootstrap.vertical-tabs.min.css" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/4.5.9/standard/ckeditor.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
    <script src="/public/javascripts/input/resume-validator.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/input-css.css">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#contact" data-toggle="tab"><span class="glyphicon glyphicon-phone-alt"> Contact</span></a></li>
        <li><a href="#summary" data-toggle="tab"><span class="glyphicon glyphicon-user"> Summary</span></a></li>
        <li><a href="#experience" data-toggle="tab"><span class="glyphicon glyphicon-heart-empty"> Experience</span></a></li>
        <li><a href="#project" data-toggle="tab"><span class="glyphicon glyphicon-cloud-download"> Project</span></a></li>
        <li><a href="#skills" data-toggle="tab"><span class="glyphicon glyphicon-star"> Skills</span></a></li>
        <li><a href="#certification" data-toggle="tab"><span class="glyphicon glyphicon-cog"> Certification</span></a></li>
        <li><a href="#education" data-toggle="tab"><span class="glyphicon glyphicon-education"> Education</span></a></li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane active form-style-5" id="contact">
            <form action="createresume" method="POST" id="resumeForm">
                <fieldset>
                    <legend><span class="number">1</span> Contact Information</legend>
                    <label for="firstName"><span><sup>*</sup>First Name: </span>
                    <input type="text" class="text-danger" name="firstName" placeholder="First Name">
                </label>
                    <label for="lastName"><span>Last Name: </span>
                    <input type="text" name="lastName" placeholder="Last Name ">
                </label>
                    <label for="email"><span><sup>*</sup>Email: </span>
                    <input type="email" class="text-danger"  name="email" placeholder="Your Email">
                </label>
                    <label for="phone"><span>Phone: </span>
                    <input type="text" name="phone" placeholder="Phone">
                </label>
                    <label for="url1"><span>Website: </span>
                    <input type="url" name="url1" placeholder="e.g:www.abc.com">
                </label>
                    <label for="address"><span>Address </span>
                    <textarea class="editor" name="address" placeholder="Address"></textarea>
                </label>
                </fieldset>
                <button class="btn pull-left">Save</button>
                <button class="btn pull-right" type="button">Continue</button>
        </div>
        <div class="tab-pane form-style-5" id="summary">
                <fieldset>
                    <legend><span class="number">2</span>Summary</legend>
                    <label for="sumHeadline"><span>Header </span>
                    <input class="form-control" name="sumHeadline" type="text">
                </label>
                    <label for="sumContent"><span>Proffessor Summary: </span>
                    <textarea class="editor" name="sumContent" placeholder="Add a short summary about yourself"></textarea>
                </label>
                </fieldset>
                <button class="btn npull-left">Save</button>
                <button class="btn pull-right" type="button">Continue</button>
        </div>
        <div class="tab-pane form-style-5" id="experience">
                <fieldset id="field-experience">
                    <legend><span class="number">3</span>Experience</legend>
                    <label for="experience[0][company]"><span>Company </span>
                    <input class="form-control" type="text" id="experienceCompany" name="experience[0][company]" placeholder="e.g. Harvey Nash Vietnam">
                </label>
                    <label for="experience[0][designation]"><span>Designation </span>
                    <input class="form-control" type="text"  id="experienceDesignation" name="experience[0][designation]" placeholder="e.g. Software Engineer">
                </label>
                    <label for="experienceFromDate"><span>From Date </span>
                    <input name="experience[0][startTime]" id="experienceFromDate" readonly class="form-control date-picker" />
                </label>
                    <label for="experienceToDate"><span>To Date </span>
                    <input name="experience[0][endTime]" id="experienceToDate" readonly class="form-control date-picker" />
                </label>
                    <label for="experience[0][detail]"><span>Details </span>
                    <div id="detailsExperience">
                        <textarea class="form-control editor" id="projectDetails" name="experience[0][detail]"></textarea>
                    </div>                   
                </label>
                </fieldset>
                <div id="groupBtnExperience">
                    <div>
                        <button class="btn btn-primary" type="button" id="btnAddMoreExperience">Add another</button>
                    </div>
                    <button class="btn pull-left">Save</button>
                    <button class="btn pull-right">Save and Continue</button>
                </div>
        </div>
        <div class="tab-pane form-style-5" id="project">
                <fieldset id="field-project">
                    <legend><span class="number">4</span>Project</legend>
                    <label for="project[0][title]"><span>Project title </span>
                    <input class="form-control" name="project[0][title]" id="projectTitle" type="text">
                </label>
                    <label for="projectFromDate"><span>From Date </span>
                    <input name="project[0][startTime]" id="projectFromDate" readonly class="form-control date-picker" />
                </label>
                    <label for="projectToDate"><span>To Date </span>
                    <input name="project[0][endTime]" id="projectToDate" readonly class="form-control date-picker" />
                </label>
                    <label for="project[0][detail]"><span>Details </span>
                    <div id="detailsProject">
                        <textarea class="form-control editor" name="project[0][detail]"></textarea>
                    </div>                   
                </label>
                </fieldset>
                <div id="groupBtnProject">
                    <div>
                        <button class="btn btn-primary" type="button" id="btnAddMoreProject">Add another</button>
                    </div>
                    <button class="btn pull-left">Save</button>
                    <button class="btn pull-right">Save and Continue</button>
                </div>
        </div>
        <div class="tab-pane form-style-5" id="skills">
            <fieldset>
                <legend><span class="number">5</span>Skill</legend>
                <label for="txtSkillName"><span>Skill Name </span>
                    <input class="form-control" id="txtSkillName" name="txtSkillName">
                </label>
                <label for=""><span>Level</span></label>
                <ul id="progress" class="nav skill-progress">
                    <li id="ball0">
                        <div id="layer0" class="ball"></div>
                        <div id="layer12" class="pulse"></div>
                    </li>
                    <li id="ball1">
                        <div id="layer1" class="ball"></div>
                        <div id="layer7" class="pulse"></div>
                    </li>
                    <li id="ball2">
                        <div id="layer2" class="ball"></div>
                        <div id="layer8" class="pulse"></div>
                    </li>
                    <li id="ball3">
                        <div id="layer3" class="ball"></div>
                        <div id="layer9" class="pulse"></div>
                    </li>
                    <li id="ball4">
                        <div id="layer4" class="ball"></div>
                        <div id="layer10" class="pulse"></div>
                    </li>
                    <li id="ball5">
                        <div id="layer5" class="ball"></div>
                        <div id="layer11" class="pulse"></div>
                    </li>
                    <label id="lblLevel" style="color:blue;margin-left:200px">Not Applicable</label>
                </ul>

                <label for="txtExperience"><span>Experience</span>
                    <select id="ddlExperience" class="form-control">
                        <option value="1">0 month</option>
                        <option value="2">1-3 months</option>
                        <option value="3">4-12 months</option>
                        <option value="4">1-3 years</option>
                        <option value="5">3-5 years</option>
                        <option value="6"><5 years</option>
                    </select>
                </label>
                <label><span>Last Year Used</span>
                    <select id="ddlLYU" class="form-control">
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2004">2004</option>
                        <option value="2003">2003</option>
                    </select>
                </label>
            </fieldset>
            <div>
                <button class="btn btn-primary" id="btnAddSkill">Add skill</button>
                <table id="tblSkills" class="table">
                    <thead>
                        <tr>
                            <th>Skill name</th>
                            <th>Level</th>
                            <th>Experience</th>
                            <th>Last year used</th>
                            <th id="action">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <button class="btn pull-left">Save</button>
            <button class="btn pull-right" type="button">Continue</button>
        </div>
        <div class="tab-pane form-style-5" id="certification">
                <fieldset id="field-certification">
                    <legend><span class="number">6</span>Certification</legend>
                    <label for="certification[0][title]"><span>Certification</span>
                    <input type="text" name="certification[0][title]" id="certificationTitle" class="form-control" placeholder="Name of certification">
                </label>
                    <label for="certification[0][authority]"><span>Certification authority </span>
                    <input type="text" name="certification[0][authority]" id="certificationAuthority" class="form-control" placeholder="Name of the organization issuing the certificate">
                </label>
                    <label for="certificationDate"><span>Date </span>
                    <input name="certification[0][date]" id="certificationDate" readonly class="form-control date-picker" />
                </label>
                    <label for="certification[0][detail]"><span>Details </span>
                    <div id="detailsCertification">
                        <textarea class="form-control editor" id="certificationDetail" name="certification[0][detail]"></textarea>
                    </div>                   
                </label>
                </fieldset>
                <div id="groupBtnCertification">
                    <div>
                        <button class="btn btn-primary" type="button" id="btnAddMoreCetification">Add another</button>
                    </div>
                    <button class="btn pull-left">Save</button>
                    <button class="btn pull-right" type="button">Continue</button>
                </div>
        </div>
        <div class="tab-pane form-style-5" id="education">
                <fieldset id="field-education">
                    <legend><span class="number">7</span>Education</legend>
                    <label for="education[0][institute]"><span>Institute </span>
                    <input type="text" name="education[0][institute]"  id="txtEduInstitute" class="form-control" placeholder="e.g. Harvard University">
                </label>
                    <label for="education[0][degree]"><span>Degree </span>
                    <input type="text" name="education[0][degree]" id="txtEduDegree" class="form-control" placeholder="e.g. Bachelor of Information Technology">
                </label>
                    <label for=""><span>From Date </span>
                    <input name="education[0][startTime]" id="educationFromDate" readonly class="form-control date-picker" />
                </label>
                    <label for="educationFromDate"><span>To Date </span>
                    <input name="education[0][endTime]" id="educationToDate" readonly class="form-control date-picker" />
                </label>
                    <label for="education[0][detail]"><span>Details </span>
                    <div id="detailsEducation">
                    <textarea class="editor" name="education[0][detail]" id="educationDetails" placeholder="Add a few details about this educational qualification..."></textarea>
                    </div>                   
                </label>
                </fieldset>
                <div id="groupBtnEducation">
                    <div>
                        <button class="btn btn-primary" type="button" id="btnAddMoreEducation">Add another</button>
                    </div>
                    <button class="btn pull-left">Save</button>
                </div>
            </form>
        </div>
    </div>
    <script src="/public/javascripts/input/input.js"></script>