<% layout('./layouts/main.ejs') -%>

<% if (message.length > 0) { %>
    <div class="alert alert-danger">
        <%= message %>
    </div>
<% } %>

<% if (user != undefined) { %>
    <h3>Welcome <%= user.username %> , Role <%= user.role %></h3>
    <p><%= user.id %></p>    
    <a href="/admin">Go to admin page</a>
    <a href="/logout">Logout</a><br>
<% } else { %>
    <a href="/login">Login</a><br>
    <a href="/register">Register</a>
<% } %>