<% layout('./layouts/main.ejs') -%>

<% if (message.length > 0) { %>
    <div class="alert alert-danger">
        <%= message %>
    </div>
<% } %>

<% if (req.isAuthenticated()) { %>
    <h3>Welcome <%= req.user.username %> , Role <%= req.user.role %></h3>
    <p>Id: <%= req.user.id %></p>    
    <a href="/admin">Go to admin page</a>
    <a href="/logout">Logout</a><br>
<% } else { %>
    <a href="/login">Login</a><br>
    <a href="/register">Register</a><br>
    <a href="/reset">Forgot password</a>
<% } %>