    <% layout('./layouts/main.ejs') -%>
    <script type="text/javascript" src="/public/javascripts/layout/slide.js"></script>
    <script type="text/javascript" src="/public/javascripts/layout/jssor.slider.mini.js"></script>
    <div class="container-fluid" id="sub-layout1">
        <div class="row">
            <div class="col-md-12">

                <!-- show any messages that come back -->
                <% if (message.length > 0) { %>
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <%= message %>
                </div>
                <% } %>

                <h2 class="content-text"><strong>IMPRESS YOUR FUTURE EMPLOYER AND LAND YOUR DREAM JOB</strong></h2>
                <h4 class="content-text">Easily create online resumes and customized PDFs to land your next job.</h4>
            </div>
            <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 600px; height: 300px; overflow: hidden; visibility: hidden;">
                <!-- Loading Screen -->
                <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                    <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                    <div style="position:absolute;display:block;background:url('/public/images/layout/Slide/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
                </div>
                <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 600px; height: 300px; overflow: hidden;">
                    <div data-p="112.50" style="display: none;">
                        <img data-u="image" src="/public/images/layout/slide/1.jpg" />
                    </div>
                    <div data-p="112.50" style="display: none;">
                        <img data-u="image" src="/public/images/layout/slide/2.jpg" />
                    </div>
                    <div data-p="112.50" style="display: none;">
                        <img data-u="image" src="/public/images/layout/slide/3.jpg" />
                    </div>
                    <div data-p="112.50" style="display: none;">
                        <img data-u="image" src="/public/images/layout/slide/4.jpg" />
                    </div>

                </div>
                <!-- Bullet Navigator -->
                <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
                    <!-- bullet navigator item prototype -->
                    <div data-u="prototype" style="width:16px;height:16px;"></div>
                </div>
                <!-- Arrow Navigator -->
                <span data-u="arrowleft" class="jssora12l" style="top:0px;left:0px;width:30px;height:46px;" data-autocenter="2"></span>
                <span data-u="arrowright" class="jssora12r" style="top:0px;right:0px;width:30px;height:46px;" data-autocenter="2"></span>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-large btn-primary btn-layout" href="/resumes/create">
                        GET STARTED NOW
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="sub-layout2">
        <div class="col-md-12">
            <h2><strong>OUR BEAUTIFUL RESUME TEMPLATES</strong></h2>
            <p>Tired of fixing the formatting issues in your resume? Try these out!!!</p>
        </div>
        <div class="col-md-12" id="template1">
            <div class="col-md-4">
                <p class="style"><strong>Style-1</strong></p>
                <img class="middle hover" src="/public/images/layout/Template/hover1.png" width="328px" height="320px">
            </div>
            <div class="col-md-4">
                <p class="style"><strong>Style-2</strong></p>
                <img class="middle hover" src="/public/images/layout/Template/hover2.png" width="328px" height="320px">
            </div>
            <div class="col-md-4">
                <p class="style"><strong>Style-3</strong></p>
                <img class="middle hover" src="/public/images/layout/Template/hover3.png" width="328px" height="320px">
            </div>
        </div>
        <div class="col-md-4">
            <p class="style"><strong>Style-4</strong></p>
            <img class="middle hover" src="/public/images/layout/Template/hover4.png" width="328px" height="320px">
        </div>
        <div class="col-md-4">
            <p class="style"><strong>Style-5</strong></p>
            <img class="middle hover" src="/public/images/layout/Template/hover5.png" width="328px" height="320px">
        </div>
        <div class="col-md-4">
            <p class="style"><strong>Style-6</strong></p>
            <img class="middle hover" src="/public/images/layout/Template/hover6.png" width="328px" height="320px">
        </div>
    </div>
    <div class="container-fluid" id="sub-layout3">
        <div class="row item">
            <div class="col-md-12">
                <div class="col-md-6" id="PDF">
                    <img src="/public/images/layout/CV/cv-free.jpg" class="img-responsive">
                </div>
                <div class="col-md-6" id="text">
                    <h4>Download CV PDF, CV online</h4>
                    <p>Owning a professional CV with many different formats</p>
                    <p>- Impress employers with professional CV in PDF format.</p>
                    <p>- Easily view your CV anywhere, on any device without the need to store the address online CV.</p>
                    <p class="item-action">
                        <a class="btn btn-info btn-layout" src="#" target="_blank" title="Click here to have more information">GET MORE
                            INFORMATION</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>