<% layout('./layouts/main.ejs') -%>
<div class="row">
	<div id="form-section" class="col-md-5">
		<div class="well well-lg">
			<button class="btn btn-primary">Preview</button>
		</div>
		<!-- start here template poll-->
		<div id="temp-poll" class="carousel slide">
		  <div class="carousel-inner">
		  	<% for (var i = 0; i < templates.length; i++) { %>
		    <div class="item <% if (i == 0) { %> active <% } %>">
		    	<div class="col-md-4">
		     		<a href="#"><img src="/public/images/layout/Template/hover<%= templates[i].id %>.png" class="img-responsive" alt="<%= templates[i].name %>"></a>
		     	</div>
		    </div>
		    <% } %>
		  </div>
		  <a class="left carousel-control" href="#temp-poll" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
		  <a class="right carousel-control" href="#temp-poll" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
		</div>
		<!-- end template poll here -->
	</div>
	<div id="resume-preview-container" class="col-md-7 well">
		<iframe src="http://localhost:3000/resumes/2" id="resume-view-port"></iframe>
	</div>
</div>
<script type="text/javascript">
	$(function () {
		$('#temp-poll').carousel({
		  interval: 1000
		})

		$('.carousel .item').each(function(){
		  var next = $(this).next();
		  if (!next.length) {
		    next = $(this).siblings(':first');
		  }
		  next.children(':first-child').clone().appendTo($(this));
		  
		  if (next.next().length>0) {
		    next.next().children(':first-child').clone().appendTo($(this));
		  }
		  else {
		  	$(this).siblings(':first').children(':first-child').clone().appendTo($(this));
		  }
		});
	});
</script>