<% layout('./layouts/main.ejs') -%>
<div id="template-thumbnail" class="row">

</div>
<div class="row">
	<div id="form-section" class="col-md-5">
		<div class="well well-lg">
			form will be here
		</div>
	</div>
	<div id="preview-iframe" class="col-md-7">
		<iframe src="http://localhost:3000/resumes/2" class="view-port"></iframe>
	</div>
</div>