<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<body>
<h1>Hello <%= receiver %></h1>

<strong>Thanks for registering. Please click the link below to activate your account.</strong>
<br/><br/>
<a href='<%= activateLink %>'><%= activateLink %></a>

<br/><br/>
<div style="color: blue;"> Best & regardless, <br/>
    <strong>Gaiz team</strong></div>
</body>
</head>
</html>