<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <body>
      <h1>Hello <%= receiver %></h1>
      
      <strong>Please click the link below to reset your password.</strong>
      <br/><br/>
      <a href='<%= resetLink %>'><%= resetLink %></a>
      
    <br/><br/>
      <div style="color: blue;"> Best & regardless, <br/>
      <strong>Gaiz team</strong></div>
    </body>
  </head>
</html>